<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <!--librerias para grafica pastel  chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js"
            integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"
            integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- cdn iconos bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-6 mt-3">
            <div class="card dashboard">
                <div class="card-header card-titulo text-white ">
                    <h4 class="text-center">ESTAS DENTRO DEdsfddffdL SISTEMS<i class="fas fa-shopping-card"></i></h4>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
